@charset "UTF-8";
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  background: #F3F4F6;
  color: #1a1a1a;
  height: 100%;
  font-weight: 400;
}

ul li {
  list-style-type: none;
}

.sp-hide {
  display: block !important;
}

.pc-hide {
  display: none !important;
}

.custom-file.single-upload {
  height: auto;
}
.custom-file.single-upload .custom-file-input {
  display: none;
}
.custom-file.single-upload .disabled {
  pointer-events: none;
}
.custom-file .custom-file-seletor {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.custom-file .custom-file-seletor .custom-file-button {
  background-color: #e9ecef;
  border-left: inherit;
  border-radius: 0.25rem;
  font-family: NotoSansJP-Regular, sans-serif;
  font-size: 12px;
  color: #1a1a1a;
  padding: 0.375rem 0.75rem;
  width: 124px;
  height: 34px;
  white-space: nowrap;
}
.custom-file .custom-file-seletor .custom-file-name {
  padding-left: 10px;
  line-height: 1.6;
  color: #495057;
  font-size: 14px;
  margin-bottom: 0;
  cursor: pointer;
}

nav {
  background-color: #7D1DD8;
  width: 100%;
  height: 65px;
  padding: 15px 5px;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  position: fixed;
  z-index: 10;
}
nav .m-auto-0 {
  margin: auto 0 !important;
}
nav .m-auto-0 .logo-white {
  width: 150px;
  height: 35px;
}
nav ul {
  float: right;
  list-style: none;
  margin: 10px 10px 0 0;
}
nav ul li {
  display: inline;
  margin-left: 10px;
}
nav ul li .black-btn {
  background: #1a1a1a;
  border-radius: 16px;
  padding: 6px 15px 7px;
  color: #fff;
}

.wrapper {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}
.wrapper #sidebar {
  width: 230px;
  min-width: 230px;
  max-width: 230px;
  min-height: calc(100vh - 65px);
  max-height: inherit;
  background-color: #233752;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  position: fixed;
  z-index: 9;
  transition: all 0.3s;
  top: 65px;
}
.wrapper #sidebar .sticky-ul {
  position: relative;
  top: 0;
}
.wrapper #sidebar .sticky-ul #sidebarCollapse {
  cursor: pointer;
}
.wrapper #sidebar .sticky-ul .move-left {
  margin-bottom: 2px;
  padding: 9px 15px;
}
.wrapper #sidebar ul {
  margin: 0;
  padding: 0;
}
.wrapper #sidebar ul .move-left-li {
  margin-right: 6px;
}
.wrapper #sidebar ul li {
  list-style: none;
  max-height: 56px;
}
.wrapper #sidebar ul li .nav-item {
  background: #233752;
  display: flex;
  padding: 20px;
  color: #fff;
  font-family: BlinkMacSystemFont, sans-serif, Noto Sans, NotoSansJP-Medium;
  transition: all 0.2s;
}
.wrapper #sidebar ul li .nav-item .nav-txt {
  margin-left: 20px;
  position: relative;
}
.wrapper #sidebar ul li .nav-item img {
  width: 16px;
  height: 16px;
}
.wrapper .buble {
  background-color: #ff7e00;
  font-family: BlinkMacSystemFont, sans-serif, Noto Sans, NotoSansJP-Bold;
  font-size: 12px;
  padding: 6px;
  border-radius: 100px;
  color: #fff;
  min-height: 30px;
  max-height: 30px;
  min-width: 30px;
  max-width: 30px;
  text-align: center;
  position: absolute;
  top: -7px;
  right: -40px;
}

.content-wrapper {
  padding-left: 230px;
  overflow-x: auto;
  width: 100%;
}
.content-wrapper .content-scroll {
  min-width: 1024px;
}

.sidebar-close .content-wrapper {
  padding-left: 58px;
}

.body-content {
  width: 100%;
  margin-top: 65px;
}
.body-content .content {
  margin-top: 0;
  padding-top: 10px;
}
.body-content .nav-tabs {
  border-bottom: 4px solid #7D1DD8;
}
.body-content .nav-tabs img {
  margin: -4px 8px 0 0;
}
.body-content .nav-tabs .nav-item .nav-link {
  position: relative;
  border: none;
  color: #1a1a1a;
  font-weight: 600;
  font-size: 14px;
  padding: 13px 45px 13px 30px;
  border-radius: 4px 4px 0 0;
}
.body-content .nav-tabs .nav-item .nav-link .bubble {
  background-color: #ff7e00;
  font-weight: 600;
  font-size: 12px;
  padding: 6px;
  border-radius: 100px;
  color: #fff;
  min-height: 30px;
  max-height: 30px;
  min-width: 30px;
  max-width: 30px;
  text-align: center;
  position: absolute;
  top: -5px;
  right: 10px;
  z-index: 1;
}
.body-content .nav-tabs .nav-item .nav-link.inactive {
  background-color: white;
}
.body-content .nav-tabs .nav-item .nav-link.active {
  position: relative;
  background-color: #7D1DD8;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 13px 30px 13px 20px;
}
.body-content .nav-tabs .nav-item .nav-link.active .bubble {
  right: -7px;
}
.body-content .tab-content {
  color: #fff;
}
.body-content .tab-content .info-sec {
  font-weight: 600;
  font-size: 12px;
}
.body-content .tab-content .info-sec a {
  color: #fff !important;
}
.body-content .tab-content .info-sec label {
  margin-bottom: 0 !important;
}
.body-content .tab-content .info-sec label:hover {
  cursor: pointer;
}
.body-content .tab-content .info-sec:hover {
  cursor: pointer;
}
.body-content .tab-content .info-sec img {
  width: 16px;
  height: 16px;
  margin: -2px 7px 0 0;
}
.body-content .tab-content .info-sec .import-files {
  visibility: hidden;
  width: 0;
  height: 0;
}
.body-content .tab-content .modal-content {
  color: #1a1a1a;
}
.body-content .tab-content .rem-scouts {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: -5px;
}
.body-content .tab-content .rem-scouts span {
  font-size: 24px;
  color: #ff7e00;
}
.body-content .tab-content .rem-scouts .page-result {
  font-size: 16px;
  font-weight: 600;
  color: #ff7e00;
}
.body-content .tab-content .rem-scouts .pagination {
  margin-left: 15px;
}
.body-content .tab-content .rem-scouts .pagination .page-number {
  font-size: 14px;
  line-height: 14px;
  min-width: 18px;
  max-width: 18px;
  min-height: 26px;
  max-height: 26px;
  border-radius: 100px;
  color: #fff;
  display: inline-block;
  text-align: center;
  padding: 5px 0px;
}
.body-content .tab-content .rem-scouts .pagination .active {
  min-width: 26px;
  max-width: 26px;
  min-height: 26px;
  max-height: 26px;
  font-weight: 600;
  background-color: #ff7e00;
  font-weight: bold;
  padding: 5px;
}
.body-content .tab-content .rem-scouts .pagination img {
  cursor: pointer;
}
.body-content .sub-heading {
  font-size: 10px;
}
.body-content .btn-orange {
  background-color: #ff7e00;
  width: 157px;
  max-height: 44px;
  min-height: 44px;
  font-weight: 600;
  font-size: 16px;
  padding: 9px 25px;
  display: block;
  border-radius: 200px;
  color: #fff;
  margin: 5px;
}
.body-content .btn-orange img {
  width: 16px;
  height: 16px;
  margin: -4px 5px 0 0;
}
.body-content .card {
  background-color: #fff;
}
.body-content .card .card-body .w-240 {
  width: 240px;
}
.body-content .card .card-body .inpt-wid {
  width: calc(100% - 450px);
}
.body-content .card .card-body .btn-maroon {
  background-color: #7D1DD8;
  min-width: 170px;
  max-height: 44px;
  min-height: 44px;
  font-weight: 600;
  font-size: 14px;
  padding: 0 25px;
  display: block;
  border-radius: 200px;
  color: #fff;
}
.body-content .card .card-body .btn-maroon img {
  width: 16px;
  height: 16px;
  margin: -4px 5px 0 0;
}
.body-content .card-row {
  background-color: #fff;
  margin-bottom: 10px;
}
.body-content .card-row .card-body {
  padding: 15px 20px 15px 15px !important;
}
.body-content .card-row .card-body .ttl-sec {
  width: calc(100% - 510px);
}
.body-content .card-row .card-body .title {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.body-content .card-row .card-body .sub-title {
  font-size: 12px;
  line-height: 12px;
  margin-top: 10px;
}
.body-content .card-row .card-body small {
  color: #999;
  font-size: 11px;
  line-height: 11px;
  margin-top: 10px;
  display: block;
}
.body-content .card-row .card-body .cus-check {
  width: 0;
  margin-top: 17px;
  padding-right: 2px;
}
.body-content .card-row .card-body .media-area {
  width: 150px;
  margin-right: 20px;
}
.body-content .card-row .card-body .media-area .media-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #339f0f;
  width: 100%;
  display: block;
  margin-top: 8px;
}
.body-content .card-row .card-body .media-area .date {
  font-size: 14px;
  line-height: 14px;
}
.body-content .card-row .card-body .media-area .disabled {
  color: #999;
}
.body-content .card-row .card-body .media-area .stop-btn {
  background: #eaeaea url("/images/icon-stop.svg") no-repeat center/20px 20px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-left: 10px;
  cursor: pointer;
}
.body-content .card-row .card-body .media-area .stop-btn:hover {
  background: #1a1a1a url("/images/icon-stop-hover.svg") no-repeat center/20px 20px;
}
.body-content .card-row .card-body .media-area .play-btn {
  background: #eaeaea url("/images/icon-play.svg") no-repeat center/20px 20px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-left: 10px;
  margin-top: -2px;
  cursor: pointer;
}
.body-content .card-row .card-body .media-area .play-btn:hover {
  background: #339f0f url("/images/icon-play-hover.svg") no-repeat center/20px 20px;
}
.body-content .card-row .card-body .media-area .custom-control {
  padding: 0;
}
.body-content .card-row .card-body .media-area .custom-control-label {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-top: -4px;
  margin-right: -3px;
  cursor: pointer;
}
.body-content .card-row .card-body .media-area .custom-control-label:before {
  background: #eaeaea url("/images/icon-pause.svg") no-repeat center/20px 20px;
  width: 20px;
  height: 20px;
  border: unset;
  border-radius: 50px;
  top: -17px;
}
.body-content .card-row .card-body .media-area .custom-control-label:after {
  top: -17px;
  left: -1.4rem;
}
.body-content .card-row .card-body .media-area .custom-control-input {
  left: -14px;
  top: 0px;
  width: 20px;
  height: 20px;
  z-index: 1;
  cursor: pointer;
}
.body-content .card-row .card-body .media-area .custom-control-input:hover ~ .custom-control-label::before {
  border-color: unset;
  background-color: unset;
  width: 20px;
  height: 20px;
}
.body-content .card-row .card-body .media-area .custom-control-input:hover ~ .custom-control-label::after {
  background: #7D1DD8 url("/images/icon-pause-hover.svg") no-repeat center/20px 20px;
  left: -24px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}
.body-content .card-row .card-body .media-area .custom-control-input:hover:checked ~ .custom-control-label::before {
  border-color: unset;
  background-color: unset;
  width: 20px;
  height: 20px;
}
.body-content .card-row .card-body .media-area .custom-control-input:hover:checked ~ .custom-control-label::after {
  background: #339f0f url("/images/icon-play-hover.svg") no-repeat center/20px 20px;
  left: -24px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}
.body-content .card-row .card-body .media-area .custom-control-input:checked ~ .custom-control-label::before {
  border-color: unset;
  background-color: unset;
  width: 20px;
  height: 20px;
}
.body-content .card-row .card-body .media-area .custom-control-input:checked ~ .custom-control-label::after {
  background: #eaeaea url("/images/icon-play.svg") no-repeat center/20px 20px;
  left: -24px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}
.body-content .card-row .card-body .btn-area {
  width: 80px;
  margin-top: 4px;
  text-align: center;
  position: relative;
}
.body-content .card-row .card-body .btn-area .val {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #7D1DD8;
  display: table;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin: 0 auto;
  margin-top: 7px;
  padding: 4px;
  cursor: pointer;
  font-weight: bold;
}
.body-content .card-row .card-body .btn-maroon {
  font-size: 12px;
  line-height: 12px;
  min-width: 120px;
  max-width: 120px;
  min-height: 36px;
  max-height: 36px;
  margin-top: 13px;
  margin-left: 25px;
  transition: 0.2s;
}
.body-content .card-row .card-body .btn-maroon:hover {
  background-color: #480000;
}
.body-content .card-row .card-body .btn-maroon img {
  width: 12px;
  height: 12px;
  margin: -4px 2px 0 0;
}
.body-content .card-row .card-body .text-maroon {
  color: #7D1DD8 !important;
}
.body-content .card-row .card-body .text-orange {
  color: #ff7e00 !important;
}
.body-content .card-row .card-body .text-gray {
  color: #999 !important;
}
.body-content .card-row .card-body .posted {
  width: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #999;
  text-align: center;
}
.body-content .card-row .card-body .ttl-main {
  width: auto;
}
.body-content .card-row .card-body .pub-area {
  min-width: 200px;
  margin-right: 20px;
}
.body-content .card-row .card-body .pub-area .date-range {
  font-size: 14px;
  line-height: 14px;
  color: #999;
}
.body-content .card-row .card-body .end-publication {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #999;
  text-align: center;
  display: block;
}
.body-content .card-row .card-body .btn-success {
  position: relative;
  background-color: #339f0f;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  min-width: 164px;
  min-height: 44px;
  max-height: 44px;
  border-radius: 150px;
  margin-left: 20px;
  padding: 17px;
  text-indent: 28px;
  border: 0;
  transition: 0.2s;
}
.body-content .card-row .card-body .btn-success:before {
  content: "";
  position: absolute;
  background: #fff url("/images/icon-play-green.svg") no-repeat center/20px 20px;
  width: 20px;
  height: 20px;
  top: 12px;
  left: 26px;
  background-color: #fff;
  border-radius: 50px;
}
.body-content .card-row .card-body .btn-success:hover {
  background-color: #195904;
}
.body-content .card-row .card-body .btn-success:hover:before {
  background: #fff url("/images/icon-play-dark-green.svg") no-repeat center/20px 20px;
}
.body-content .card-row .card-body .btn-dark {
  position: relative;
  background-color: #1a1a1a;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  min-width: 164px;
  min-height: 44px;
  max-height: 44px;
  border-radius: 150px;
  margin-left: 10px;
  padding: 17px;
  text-indent: 28px;
  border: 0;
  transition: 0.2s;
}
.body-content .card-row .card-body .btn-dark:before {
  content: "";
  position: absolute;
  background: #fff url("/images/icon-play.svg") no-repeat center/20px 20px;
  width: 20px;
  height: 20px;
  top: 12px;
  left: 36px;
  background-color: #fff;
  border-radius: 50px;
}
.body-content .card-row .card-body .btn-dark:hover {
  background-color: #393939;
}
.body-content .card-row .card-body .btn-dark:hover:before {
  background: #fff url("/images/icon-play-gray.svg") no-repeat center/20px 20px;
}
.body-content .custom-select {
  display: inline-block;
  width: auto;
  height: 44px;
  color: #1a1a1a;
  background: #fff url("/images/icon-arrow-down.svg") no-repeat right 0.75rem center/16px 16px;
  margin: 0 20px;
}
.body-content .custom-control-label {
  padding-left: 5px;
  margin-right: 15px;
  position: relative;
}
.body-content .custom-control-label:before {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  left: -24px;
}
.body-content .custom-control-label:after {
  top: 0.35rem;
  left: -1.4rem;
}
.body-content .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #7D1DD8;
  background-color: #7D1DD8;
}
.body-content .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("/images/icon-check.svg");
  background-size: 75%;
  left: -1.4rem;
}
.body-content .input-area .check-label {
  font-size: 10px;
}
.body-content .input-area .mt-18 {
  margin-top: 18px;
}
.body-content .input-area .w-200 {
  width: 200px;
}
.body-content .input-area .h-36 {
  height: 36px;
}
.body-content .input-area .cus-mt {
  display: inline-block;
  top: -11px;
}
.body-content .input-area .cus-ml {
  position: relative;
  left: -35px;
}
.body-content .input-area .btn-maroon {
  min-width: 60px;
  min-height: 32px;
  max-height: 32px;
  padding: 0;
  position: relative;
  left: -50px;
  top: 1px;
}
.body-content .input-area .btn-white {
  background-color: #fff;
  color: #1a1a1a;
  width: auto;
  min-height: 36px;
  max-height: 36px;
  border-radius: 3px;
  padding: 0 20px 0 10px;
  position: relative;
  left: -20px;
  top: 1px;
}
.body-content .input-area .btn-white img {
  margin: -3px 5px 0 0;
}
.body-content .btn[disabled]:hover {
  cursor: not-allowed;
}

.paginate-result {
  position: static;
  background-color: transparent;
  height: auto;
  padding: 0 5px;
  width: 100%;
}
.paginate-result ul {
  float: right;
  margin: 0;
}
.paginate-result ul li {
  display: inline;
  margin-left: 10px;
}
.paginate-result ul .page-item.active .page-link {
  min-width: 26px;
  max-width: 26px;
  min-height: 26px;
  max-height: 26px;
  background-color: #7D1DD8;
  color: #1a1a1a;
  font-weight: 700;
  padding: 5px;
  border-radius: 100%;
}
.paginate-result ul .page-item .page-link {
  font-size: 16px !important;
  line-height: 16px;
  min-width: 18px;
  max-width: 18px;
  min-height: 26px;
  max-height: 26px;
  color: #1a1a1a;
  display: inline-block;
  text-align: center;
  padding: 5px 0;
  background-color: transparent;
  border-radius: 0;
  border: none;
}

.radio-area .custom-control-label {
  padding-left: 5px;
  line-height: 24px;
  cursor: pointer;
}
.radio-area .custom-control-label:before {
  width: 20px;
  height: 20px;
}
.radio-area .custom-control-label:after {
  top: 0.35rem;
  left: -1.4rem;
}
.radio-area .custom-control-label a {
  color: #fff;
  text-decoration: underline !important;
}
.radio-area .custom-control-input {
  left: 0;
  top: 4px;
}
.radio-area .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #7D1DD8;
  background-color: #7D1DD8;
}
.radio-area .custom-control-input:checked ~ .custom-control-label::after {
  background-image: unset;
  position: absolute;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 100px;
  top: 10px;
  left: 6px;
}

.form-search {
  padding: 10px 20px;
  width: 100%;
  background-color: white;
  border-radius: 6px;
}
.form-search .form-control {
  height: 44px;
  border-radius: 4px;
}
.form-search .btn {
  border-radius: 999em;
}
.form-search .btn-purple {
  background-color: #7D1DD8;
  color: #fff;
  min-width: 170px;
  min-height: 44px;
  max-height: 44px;
  font-size: 14px;
  line-height: 14px;
  padding: 13px;
  display: block;
  margin: 0 auto;
}
.form-search .btn-purple img {
  width: 16px;
  height: 16px;
  margin: -2px 7px 0 0;
}
.form-search .home-title {
  border-bottom: 2px solid #7D1DD8;
  font-size: 28px;
  color: #7D1DD8;
}
.form-search .count-job {
  font-size: 20px;
  font-weight: 600;
  color: #7D1DD8;
}
.form-search .f-person {
  width: 60%;
}
.form-search .f-person .person-basic {
  width: 40%;
}
.form-search .f-person .person-exp {
  width: 60%;
  position: relative;
}
.form-search .f-person .person-exp .btn-area {
  position: absolute;
  bottom: 0;
  right: 0;
}
.form-search .f-job {
  width: 40%;
  background-color: #233752;
  color: #fff;
}

.content-page {
  width: 100%;
  background-color: white;
  border-radius: 6px;
}
.content-page img {
  display: inline;
  margin-right: 5px;
  vertical-align: revert !important;
}
.content-page .overview {
  padding: 10px 20px;
  background-color: #7D1DD8;
  color: #fff;
  font-size: 20px;
}
.content-page .chart .progresss {
  width: 160px;
  height: 160px;
  background: none;
  position: relative;
}
.content-page .chart .progresss::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}
.content-page .chart .progresss > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.content-page .chart .progresss .progress-left {
  left: 0;
}
.content-page .chart .progresss .progress-left .progress-bar {
  color: #7D1DD8;
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  transform-origin: center left;
}
.content-page .chart .progresss .progress-bar {
  color: #7D1DD8;
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.content-page .chart .progresss .progress-right {
  right: 0;
}
.content-page .chart .progresss .progress-right .progress-bar {
  color: #7D1DD8;
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  transform-origin: center right;
}
.content-page .chart .progresss .progress-value {
  position: absolute;
  top: 31%;
  justify-content: center;
  display: grid;
  text-align: center;
  width: 100%;
}
.content-page .chart .progresss small {
  font-size: 14px;
  font-weight: 600;
  color: #1a1a1a;
  line-height: 5px;
  margin-top: 0px;
  font-weight: bold;
}
.content-page .chart .progresss .top-num {
  font-size: 24px;
  font-weight: 600;
  color: #7D1DD8;
  font-weight: bold;
}
.content-page .chart .pad-1 {
  padding: 0px 18px;
  background-color: #7D1DD8;
}
.content-page .chart .pad-2 {
  padding: 0px 18px;
  background-color: #eee;
}

.form-create {
  color: #1a1a1a;
  background-color: white;
}
.form-create .form-header {
  background-color: #7D1DD8;
  padding: 5px 20px;
  color: #fff;
}
.form-create .form-header img {
  display: inline;
  margin-right: 5px;
  vertical-align: top !important;
}
.form-create .form-content .content-left {
  background-color: #D8BAF7;
  width: 188px;
  border-bottom: 1px solid #fff;
}
.form-create .form-content .content-right {
  width: calc(100% - 188px);
  color: #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}
.form-create .form-content select {
  background-color: white !important;
  width: 40%;
  height: 34px;
  padding: 6px 5px;
  border: 2px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  background: none;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

.border-circle {
  border-radius: 999em;
}

.btn-purple {
  font-size: 16px;
  line-height: 16px;
  display: block;
  min-width: 200px;
  min-height: 48px;
  max-height: 48px;
  padding: 15px 30px;
  margin: 0 auto;
  background-color: #7D1DD8;
  color: #fff;
}
.btn-purple img {
  width: 16px;
  margin: -2px 10px 0 0;
}

.btn-dark-back {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  position: absolute;
  margin: 0px;
  padding: 5px 30px;
  top: 11px;
  border-radius: 999em;
}
.btn-dark-back img {
  margin: -2px 8px 0 0;
}

.btn-search {
  display: inline-block;
  position: relative;
  padding: 0 24px 0 56px;
  border: 2px solid #7D1DD8;
  border-radius: 3px;
  line-height: 32px;
  font-weight: 700;
}
.btn-search:before {
  position: absolute;
  left: 0;
  width: 32px;
  background: #7D1DD8;
  color: #fff;
  text-align: center;
  content: "＋";
}

.invalid-feedback {
  display: block;
}

.modal .modal-body .parent-name {
  color: white;
  display: block;
  padding: 10px;
  background-color: #7452A8;
}
.modal .modal-body .item {
  border: 1px solid #7452A8;
  border-top-style: none;
  border-radius: 0 0 4px 4px;
}
.modal .modal-body .item .item-children {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #7452A8;
}
.modal .modal-body .item .item-children:last-child {
  border-bottom-style: none;
}

.text-des {
  padding-bottom: 0 !important;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.btn-custom {
  padding: 6px 21px;
  margin-left: 4px;
  border-radius: 6px;
  background-color: blue;
  border-style: none;
  color: #fff;
}
.btn-custom img {
  margin: -1px 8px 0 0;
  width: 12px;
  height: 12px;
}

#messages .modal.right_modal {
  position: fixed;
  z-index: 99999;
  top: 0;
}
#messages .modal.right_modal .modal-dialog {
  position: fixed;
  margin: auto;
  width: 600px;
  height: 100%;
  transform: translate3d(0%, 0, 0);
}
#messages .modal.right_modal .modal-content {
  height: 100vh;
  background-color: #2c2c2c;
  color: #fff;
}
#messages .modal.right_modal .modal-body {
  padding: 0;
}
#messages .modal.right_modal .modal-body .title-area {
  height: 56px;
  background-color: #1a1a1a;
  padding: 19px 20px 3px 20px;
  position: relative;
  display: flex;
}
#messages .modal.right_modal .modal-body .title-area .title {
  font-size: 16px;
  line-height: 16px;
  margin-right: auto;
}
#messages .modal.right_modal .modal-body .title-area .ext-link {
  font-size: 12px;
  line-height: 12px;
  color: #999;
}
#messages .modal.right_modal .modal-body .title-area .ext-link img {
  margin: -2px 6px 0 0;
}
#messages .modal.right_modal .modal-body .title-area .slide-close {
  background-color: #1a1a1a;
  border: solid 1px rgba(255, 255, 255, 0.11);
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  line-height: 12px;
  border-radius: 50px;
  padding: 8px 12px;
  text-align: center;
  cursor: pointer;
}
#messages .modal.right_modal .modal-body .title-area .slide-close img {
  width: 12px;
  margin: -2px 0 0 6px;
}
#messages .modal.right_modal .modal-body .chat-area {
  padding: 0 10px;
}
#messages .modal.right_modal .modal-body .chat-area .chat-row .left, #messages .modal.right_modal .modal-body .chat-area .chat-row .right {
  font-size: 14px;
  line-height: 21px;
  background-color: #171717;
  border-radius: 6px;
  position: relative;
  max-width: 610px;
  padding: 7px;
  display: inline-block;
}
#messages .modal.right_modal .modal-body .chat-area .chat-row .left:before, #messages .modal.right_modal .modal-body .chat-area .chat-row .right:before {
  content: "";
  position: absolute;
  border-top: 5px solid transparent;
  border-right: 7px solid #1a1a1a;
  border-bottom: 5px solid transparent;
  left: -6px;
  top: 6px;
}
#messages .modal.right_modal .modal-body .chat-area .chat-row .left .msg, #messages .modal.right_modal .modal-body .chat-area .chat-row .right .msg {
  white-space: pre-wrap;
  display: block;
}
#messages .modal.right_modal .modal-body .chat-area .chat-row .left .btn-maroon, #messages .modal.right_modal .modal-body .chat-area .chat-row .right .btn-maroon {
  margin-top: 10px;
  font-size: 12px;
  line-height: 12px;
  padding: 10px 15px;
  min-width: 133px;
}
#messages .modal.right_modal .modal-body .chat-area .chat-row .left .btn-maroon img, #messages .modal.right_modal .modal-body .chat-area .chat-row .right .btn-maroon img {
  margin: -2px 7px 0 0;
}
#messages .modal.right_modal .modal-body .chat-area .chat-row .left {
  margin-top: 22px;
  float: left;
}
#messages .modal.right_modal .modal-body .chat-area .chat-row .right {
  background-color: #3e3e3e;
  margin-left: auto;
  margin-top: 7px;
  float: right;
}
#messages .modal.right_modal .modal-body .chat-area .chat-row .right:before {
  border: 0;
}
#messages .modal.right_modal .modal-body .chat-area .chat-row .right:after {
  content: "";
  position: absolute;
  border-top: 5px solid transparent;
  border-left: 7px solid #3e3e3e;
  border-bottom: 5px solid transparent;
  right: -6px;
  top: 6px;
}
#messages .modal.right_modal .modal-body .chat-area .chat-row .footer {
  margin-top: 100px !important;
}
#messages .modal.right_modal .modal-body .chat-area .chat-row .date-time-left {
  font-size: 10px;
  line-height: 10px;
  margin-top: 6px;
  width: 100%;
  float: left;
}
#messages .modal.right_modal .modal-body .chat-area .chat-row .date-time-left span {
  color: #999;
  margin-left: 15px;
}
#messages .modal.right_modal .modal-body .chat-area .chat-row .date-time-right {
  text-align: right;
  font-size: 10px;
  line-height: 10px;
  margin-top: 6px;
  width: 100%;
  float: right;
}
#messages .modal.right_modal .modal-body .chat-area .chat-row .date-time-right span {
  color: #999;
  margin-right: 15px;
}
#messages .modal.right_modal .modal-body .form-single {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin-top: 19px;
  padding: 19px 25px 20px 25px;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2c2c2c;
}
#messages .modal.right_modal .modal-body .form-single .form-control {
  width: 464px;
  height: 60px;
  margin-right: auto;
}
#messages .modal.right_modal .modal-body .form-single .btn-maroon {
  min-width: 110px;
  max-width: 110px;
  min-height: 44px;
  max-height: 60px;
  border-radius: 4px;
  letter-spacing: 5px;
}
#messages .modal.right_modal .modal-body .form-single .btn-maroon img {
  margin: -2px 10px 0 0;
}
#messages .modal.right_modal .modal-body .card-header {
  font-size: 12px;
  line-height: 12px;
  background-color: #eaeaea;
  min-height: 42px;
  max-height: 42px;
  text-align: center;
  padding: 15px;
  border-bottom: 0;
}
#messages .modal.right_modal .modal-body .card-header .link-attachment {
  float: right;
  margin-top: -9px;
  padding: 0px;
}
#messages .modal.right_modal .modal-body .card-header img {
  height: 30px; /* IE 9 */
  transform: rotate(30deg);
}
#messages .modal.right_modal .modal-body .card-body {
  padding: 15px 20px;
  word-break: break-word;
  white-space: pre-line;
}
#messages .modal.right_modal .modal-body .card-body .date {
  font-size: 10px;
  line-height: 10px;
  color: #999;
  display: block;
  text-align: right;
}
#messages .modal.right_modal .modal-body .card-body .title {
  font-size: 14px;
  line-height: 21px;
  margin-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}
#messages .modal.right_modal .modal-body .card-body p {
  margin-top: 15px;
  font-size: 12px;
  line-height: 18px;
}
#messages .modal.right_modal.fade .modal-dialog {
  right: -50%;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}
#messages .modal.right_modal.fade.show .modal-dialog {
  right: 0;
  box-shadow: none;
}
#messages .modal-content {
  border-radius: 0;
  border: none;
}
#messages .modal-content .modal-header {
  position: absolute;
  width: 40px;
  height: 100%;
  padding: 0;
  overflow: hidden;
  left: -40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: none;
  border-radius: 0;
}
#messages .modal-content .modal-header .close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 50%;
  cursor: pointer;
}
#messages .modal-content .heading {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin-top: 5px;
  position: relative;
}
#messages .modal-content .heading .previous {
  position: absolute;
  width: 16px;
  left: 0;
  top: 0;
  cursor: pointer;
}
#messages .modal-header.right_modal {
  padding: 10px 15px;
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}
#messages .modal_outer .modal-body {
  overflow-y: auto;
  overflow-x: hidden;
  height: 91vh;
}
@media (min-width: 576px) {
  #messages .right_modal .modal-dialog {
    max-width: 100%;
  }
}

.search-scout {
  padding: 10px 20px;
  background-color: brown;
  color: azure;
  border-radius: 999em;
}
.search-scout:hover {
  text-decoration: none;
  color: azure;
}
